<section id="que-es">
  <div class="container">
    <div class="row">
    <h1 class="text-center page">Del Dicho al Hecho</h1>
      <div class="col-md-8 col-md-offset-2">
        <h3>{{t "about.question1"}}</h3>
        <p>{{t "about.answer1"}}</p>
        <h3>{{t "about.question2"}}</h3>
        <p>{{t "about.answer2"}}</p>
        <h3>{{t "about.question3"}}</h3>
        <p>{{t "about.answer3"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <img src="{{img 'rendicion.svg'}}" class="img-responsive">
      </div>
    </div>
  </div>
</section>
